[2018-04-24 13:06] kamilwlf opened #1 "java.lang.OutOfMemoryError: Java heap space"
`TimeZoneEngine.initialize().query(52.52, 13.40);`
result:

[2018-04-24 13:14] RomanIakovlev commented on #1
Looks like your JVM is running out of memory when loading the data. What's the JVM heap memory setting that you use?

[2018-04-24 15:52] RomanIakovlev commented on #1
I've tested this a bit further, and it seems 512 megabytes of heap space (i.e. `-Xmx512m` java option) should suffice to build an index and run the code above without out of memory error. I'll update the readme with this info. Thanks @kamilwlf for bringing this up!

[2018-04-25 08:55] RomanIakovlev commented on #1
@kamilwlf could you please confirm increasing the maximum heap memory has resolved your problem?

[2018-04-25 12:16] kamilwlf commented on #1
@RomanIakovlev Thank you for taking the trouble to find the cause. Unfortunately I cant change heap space on server.  I found a different solution.

[2018-06-01 04:04] RomanIakovlev commented on #1
I've released the version `2018d.2` that reduces heap memory usage from 512m to 174m, i.e. almost 3 times. Hopefully this makes `timeshape` useful in more scenarios! I'm closing the issue now.

[2018-06-01 04:04] #1 closed

[2018-06-12 12:27] BohdanZhezlo opened #2 "java.lang.ClassNotFoundException when initializing TimeZoneEngine in version 2018d.2"
Hi, when initializing TimeZoneEngine from version 2018d.2 it throws ClassNotFoundException:

at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:72)
at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:59)

It seems that protobuf code is not included in the distributable jar from Maven repo, but TimeZoneEngine depends on it.

[2018-06-12 13:51] RomanIakovlev commented on #2
Hi, thanks for reporting this. You're probably right regarding the root cause, I'll look into it in the next days and let you know.

[2018-06-14 18:39] florentgarin commented on #2
Yeah I confirm:
Failure to find net.iakovlev:protostuff:jar:2018d.2

This lib looks promising and a solve a real problem, any chance you could provide a fix?

Thanks.

[2018-06-15 11:32] RomanIakovlev commented on #2
Thanks again for reporting this, I've published version `2018d.3` that fixes the problem. It should soon be available on Maven Central, give it a try!

[2018-06-21 00:40] c-mckenna opened #4 "Timeshape with oceans"
The 2018d release of timezone-boundary-builder has a version with oceans (timezones-with-oceans.geojson.zip)

Any plans to publish a version of Timeshape that includes oceans?

[2018-06-22 09:45] RomanIakovlev commented on #4
There’s no such plan right now, but I think it could be done. A couple of questions must be answered first:

1. Are there corresponding `ZoneId` instances in `java.time`?
2. How should such artifact be published: a version of `net.iakovlev.timeshape` or a different artifact? If it should be a version, how to name it?

I need to think about this before promising anything. Suggestions are welcome.

[2018-06-22 14:08] RomanIakovlev commented on #4
Ok, I've checked the version with oceans, and it seems everything works, with the time zones in oceans looking like `Etc/GMT+3`. Now the second question remain, how to publish such artifact. Potentially, in addition to the options mentioned in previous comment, there's a 3rd one: always publish with oceans, and don't publish without oceans.

The cost of including the ocean's time zones is 1.5 MB (

[2018-06-23 03:33] c-mckenna commented on #4
Thanks @RomanIakovlev

I've got a couple of other ideas for packaging the ocean data separately, although the effort involved likely outweighs the relatively small increase in artifact size and heap usage to the existing artifact.

I'll check back in here next week.

[2018-07-10 04:55] c-mckenna commented on #4
Hi @RomanIakovlev, just touching base to see if you're happy to proceed with publishing the ocean version of Timeshape?

[2018-07-10 21:23] RomanIakovlev commented on #4
Hi @c-mckenna, yes, I think I'll proceed with the new release soon. Can't give you any fixed date now, but will try to not drag this for too long. Cheers!

[2018-07-14 04:07] RomanIakovlev commented on #4
I've released version 2018d.4, which includes the oceans as well. Will take a couple of hours to reach Maven Central. Please give it a try and feel free to close the issue if the result works for you.

[2018-07-14 04:08] RomanIakovlev commented on #4
Closed this by mistake, reopening.

[2018-07-14 06:10] RomanIakovlev opened #6 "More precise memory usage is required"
Now the memory usage is estimated by the minimally sufficient amount of `-Xmx` parameter's value passed to the forked JVM when running the tests in the `core` project. It's not very precise, because it includes more things than just the library. A better solution is needed.

[2018-07-14 06:15] #6 closed

[2018-07-15 03:26] iknow34languages opened #8 "source code lack some class;"
souce code lack the class:net.iakovlev.timeshape.proto.Geojson

and this source code can not be find in google...

please help to fix it

thanks;

[2018-07-15 06:11] RomanIakovlev commented on #8
This source code is auto-generated from Protobuf definitions in file `core/src/main/protobuf/geojson.proto` during the compilation. To make this happen, you need to compile the project on your computer, and then the source code will be found here: `core/target/src_managed/main/compiled_protobuf/net/iakovlev/timeshape/proto/Geojson.java`.

To compile the project, you need to have the build tool, sb

[2018-07-15 08:14] iknow34languages opened #9 "Some Questions to ask"
This project is very powerful for me;
but i can not very easy to understand it.
So many question in my mind;

  i try to run the main.java in directory:builder\src\main\java\net\iakovlev\timeshape
 i alwasy meet some problem when process the data ;

i have downloaded the timezones.geojson.zip in local directory;
1.why we need build proto or get featureCollection  from the file;
2.The msg coming fr

[2018-07-15 15:07] iknow34languages opened #10 "Android studio error:Error:Error converting bytecode to dex: Cause: com.android.dex.DexException: Multiple dex files define Lnet/iakovlev/timeshape/TimeZoneEngine"
i tried to compile it with android studio

But it always notice me ：
Error:Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lnet/iakovlev/timeshape/TimeZoneEngine$$Lambda$0;
Error:com.android.dex.DexException: Multiple dex files define Lnet/iakovlev/timeshape/TimeZoneEngine$$Lambda$0;
Error:	at com.android.dx.merge.DexMerger.readSortableTypes(DexMerg

[2018-07-17 11:23] iknow34languages commented on #8
@RomanIakovlev Thank you very much !
This is a very interesting thing for me .

Thanks

[2018-07-17 11:24] iknow34languages commented on #10
i has solved it @RomanIakovlev

[2018-07-18 19:14] #8 closed

[2018-07-18 19:15] #10 closed

[2018-07-19 11:17] c-mckenna commented on #4
Thanks @RomanIakovlev, sorry for the delay in trying out the new version.

It looks like the ocean timezones are inverted, for example (lat, lon):
-45.97, 147.25 - Expected: Etc/GMT+10, Actual: Etc/GMT-10
51.33, -144.91 - Expected: Etc/GMT-10, Actual: Etc/GMT+10

[2018-07-19 11:22] c-mckenna commented on #9
Hi @iknow34languages,

Are you sure it's necessary to compile yourself? If you want to include this in an existing project it's available in [Maven Central](https://search.maven.org/#artifactdetails%7Cnet.iakovlev%7Ctimeshape%7C2018d.4%7Cjar) to include with a build tool like Maven or Gradle.

Or download the JAR [here](https://search.maven.org/remotecontent?filepath=net/iakovlev/timeshape/2018d.4

[2018-07-19 12:33] RomanIakovlev commented on #4
Could you please check if you're not mixing the order of latitude and longitude in the `net.iakovlev.timeshape.TimeZoneEngine.query(double latitude, double longitude)` method? Please keep in mind that some software, like QGIS, shows coordinates in different order: first longitude, then latitude, as in cartesian (X, Y) coordinates. I'll also double-check on my side.

[2018-07-20 06:44] RomanIakovlev commented on #4
I've looked at the data, and I'm not really sure what's going on there. On one hand, the output of Timeshape corresponds to the contents of the source data (https://github.com/evansiroky/timezone-boundary-builder/releases). On the other hand, you're right that the Etc/GMT zones look out of place, and should have "+" rather than "-" to the east from Greenwich.

Attaching the picture of how it looks

[2018-07-22 12:22] RomanIakovlev commented on #4
Actually, as you can read in the discussion in the issue referenced above, current behavior is actually correct. This comment in the time zone database source code should help: https://github.com/eggert/tz/blob/master/etcetera#L38-L53.

[2018-07-23 09:42] RomanIakovlev commented on #9
I'm currently working on automating the artifact creation process and adding documentation about the build structure and overall architecture of Timeshape. This should clarify the questions asked here, so stay tuned. I'll update this issue when I'll merge these changes.

[2018-07-25 08:59] iknow34languages opened #11 "Which algorithm used to find Time zone id?"
@RomanIakovlev
Can you help to explain which algorithm used in the project ?

i find that it should use huge memory to initial  all map from lat (90 to -90) Long(-180 to 180);

But i want to reduce it's memory cost  and speed the look up time spend;

Thanks;

[2018-08-02 20:14] jacek99 opened #12 "Fail to initialize due to unknown Zone Id"
Fails to initialize all world data

  private static final TimeZoneEngine engine = TimeZoneEngine.initialize();

With Java 8:

Caused by: java.time.zone.ZoneRulesException: Unknown time-zone ID: America/Fort_Nelson
	at java.time.zone.ZoneRulesProvider.getProvider(ZoneRulesProvider.java:272)
	at java.time.zone.ZoneRulesProvider.getRules(ZoneRulesProvider.java:227)
	at java.time.ZoneRegion.ofId(Zone

[2018-08-03 05:28] RomanIakovlev commented on #12
Also, just to confirm, are you using the latest version of Timeshape, the `2018d.4`?

[2018-08-03 14:17] jacek99 commented on #12
Hi, you were correct, it was a box with an old JVM (1.8.51), once we pointed it to latest it worked correctly.

However, I think it would still be good (to future proof it), that this gets caught as an exception and handled gracefully. Right now it blows up the whole engine and stops an app from booting up.

Probably more graceful would be log ERROR and in case someone asks for a lat/long in this

[2018-08-03 15:39] RomanIakovlev commented on #12
Ok, thanks for confirmation. I totally agree it's not nice to throw an exception there, and that it should be fixed.

I have the following fix in mind: the instance of `TimeZoneEngine` should expose a collection of time zones it couldn't recognize during initialization. When it encounters an unknown zone id during initialization, it just skips adding it into the index, but adds it into that `unrec

[2018-08-03 15:42] jacek99 commented on #12
Well, I think it should explicitly log an ERROR and alert the dev team they are running on an outdated JVM and to do something about this. Otherwise this will just go on undetected and probably just hit an error downstream during some business logic relevant to some lat/long

Personally I would log ERROR as this is the type of issue that should be escalated to the dev team using the library, IMHO

[2018-08-19 06:07] RomanIakovlev opened #13 "Fully automate core artifact creation"
Currently it's required to manually run the builder app to produce the resource with time zones data for the core library. It would be better to make this process automatic, to simplify the development and publishing process.

[2018-08-19 13:33] RomanIakovlev commented on #12
Hi @jacek99, I've just published a new version (2018d.5-SNAPSHOT) to Sonatype Snapshots repository. In this version I've enabled the logging, pretty much along the lines of your suggestion. I would appreciate if you give it a try and share your feedback.

[2018-09-16 05:02] #13 closed

[2018-09-16 05:42] RomanIakovlev commented on #12
Ok, I've actually went ahead and released 2018d.5 where this change is merged. Closing this issue, please create another one if you want to continue discussion on this topic.

[2018-09-16 05:42] #12 closed

[2018-09-16 05:45] RomanIakovlev commented on #9
@iknow34languages I've updated the readme file of this project with description of how this library is designed and built, including many of the questions you've raised in this issue. Particularly, building this project locally is now much easier, because most of the steps were automated, see #13. Please have a look at the updated readme file, and feel free to open a new issue to continue discussi

[2018-09-16 05:45] #9 closed

[2018-09-16 05:48] RomanIakovlev commented on #11
@iknow34languages I've updated the readme file with the description of which algorithm is used to query the time zones data, which hopefully answers your question. The readme also contains information on how to reduce the memory usage of the library, by limiting the amount of time zones loaded. I'm closing this issue now, but feel free to open a new one if you want to continue the discussion.

[2018-09-16 05:48] #11 closed

[2018-10-29 19:59] juarezr opened #16 "java.lang.NoSuchMethodError on AWS EMR with commons-compress"
Exception in thread "main" java.lang.NoSuchMethodError: org.apache.commons.compress.utils.IOUtils.toByteArray(Ljava/io/InputStream;)[B
	at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:107)
	at com.ceabs.fleetperformance.base.TimeZoneCommon.initTimeZone(TimeZoneCommon.java:61)

Maybe should upgrade:
// https://mvnrepository.com/artifact/org.apache.commons/commons-compress
co

[2018-10-29 20:11] juarezr opened #17 "Change compression from LZMA to ZStandart"
ZStandart has same compression ratios and better decompression time:

https://gregoryszorc.com/blog/2017/03/07/better-compression-with-zstandard/

https://commons.apache.org/proper/commons-compress/

[2018-10-30 08:42] RomanIakovlev commented on #16
Hi, thanks for reporting this. I'll look into this when time allows, or feel free to submit a pull request yourself, and I'll make a SNAPSHOT release to try it out.

[2018-10-30 12:45] RomanIakovlev commented on #17
Hi, I've had a quick look at this issue, and it seems the change is a bit more involved than it looks on the surface. ZStandard is a compression algorithm, not an archival format, that is, it can't organize multiple files into a single archive. The approach used now, 7Zip, supports both archival and compression (to be precise, it supports a collection of different compression formats, but not ZSta

[2018-10-31 02:42] juarezr commented on #16
For now I solved this issue using [shading](https://imperceptiblethoughts.com/shadow/configuration/relocation/) from gradle:

[code]

I have used [geotimezone](https://github.com/bfsmith/GeoTimeZone) before, but it is left unmaintained for a while.
Timeshape coupled with [time4j](http://time4j.net) solved my problems for retrieving local date and time for a given coordinate, even considering dayli

[2018-10-31 02:53] juarezr commented on #17
I did'nt read the source code of timeshape and did'nt know about it.
I have imagined that geojson was compressed first with lzma and then stored with no compression in a folder inside the library jar/zip file.
But now I found that my assumption was false. :)

[2018-11-04 06:43] RomanIakovlev commented on #17
Ok, I've tried using ZStandard and I must say I'm positively surprised by its performance! I was expecting it to have a better decompression time, but in practice it also offers better compression time (mostly irrelevant for Timeshape users) and compression rate (5% better). Decompression time, at least on my laptop, has dropped significantly, and now `TimeZoneEngine#initialize` method takes only

[2018-11-09 20:57] RomanIakovlev opened #20 "Split geojson-proto into a separate build/repository"
Right now publishing from Travis fails because of different versioning scheme of core Timeshape artifact and geojson-proto artifact. Particularly, if a release of core artifact is required, while geojson-proto hasn't been updated, there'll be an error in publishing, as can be seen here: https://travis-ci.com/RomanIakovlev/timeshape/builds/90908423. One solution to this is to put the these projects

[2018-11-11 19:56] RomanIakovlev opened #22 "Travis build fails because of failed publishing attempt"
Travis build fails (e.g. https://travis-ci.com/RomanIakovlev/timeshape/builds/90954876) when publishing a snapshot, because `sonatypeRelease` should only be called on a non-snapshot version.

[2018-11-11 20:53] RomanIakovlev commented on #16
I've just released 2018d.6 that's supposed to fix this issue. Could you please give it a try, and if it helps, close this issue?

[2018-11-11 20:54] RomanIakovlev commented on #17
I've just released 2018d.6 that uses ZStandard for an increased compression rate and faster speed. Could you please give it a try and close this issue if all is fine on your side?

[2018-11-12 20:53] RomanIakovlev commented on #22
Resolved in #23

[2018-11-12 20:53] #22 closed

[2018-12-05 22:22] FJBDev opened #25 "Exception in thread "AWT-EventQueue-0" java.lang.NoClassDefFoundError: org/tukaani/xz/FilterOptions"
Here is the issue I am getting when I upgraded from 2018d.4 to 2018d.6
Exception in thread "AWT-EventQueue-0" java.lang.NoClassDefFoundError: org/tukaani/xz/FilterOptions
	at org.apache.commons.compress.archivers.sevenz.Coders.<clinit>(Coders.java:47)
	at org.apache.commons.compress.archivers.sevenz.SevenZFile.buildDecoderStack(SevenZFile.java:1032)
	at org.apache.commons.compress.archivers.sevenz

[2018-12-07 08:29] RomanIakovlev commented on #25
I'd suggest to do a clean and rebuild. Timeshape version 2018d.6 doesn't use that dependency (org/tukaani/xz/) anymore, but the older versions did use it, so it looks like some class files in your program were not properly updated.
If this suggestion doesn't help, it would be useful to get a minimal example that reproduces this issue reliably.

[2018-12-07 16:10] FJBDev commented on #25
My bad, a "Maven clean" seems to have resolved my issue. I'm closing it.

[2018-12-07 16:10] #25 closed

[2018-12-10 19:43] RomanIakovlev commented on #17
Ok, I'll go ahead and close this one now.

[2018-12-10 19:43] #17 closed

[2018-12-10 19:44] RomanIakovlev commented on #16
Closing as probably fixed.

[2018-12-10 19:44] #16 closed

[2018-12-10 19:52] RomanIakovlev opened #26 "Support querying the polylines more efficiently"
The use case to query a single geographical position seems to work rather well, but when it comes to querying multiple positions, there is a room for improvement. Particularly, there is a use case to query the contiguous sequence of points (a polyline, e.g. a GPS trace). In that situation, it might make sense to skip repeated quad tree queries and try to first test the same geometry as the one whi

[2018-12-10 19:53] RomanIakovlev opened #27 "Support multiple timezones for single point"
Release 2018f of source data introduces a situation where a single point can be contained by multiple geometries (see https://github.com/evansiroky/timezone-boundary-builder/issues/41). The API of Timeshape must be adjusted to support this.

[2018-12-10 19:59] RomanIakovlev commented on #26
One interesting question here is how the API of such a querying method should look like. To keep the spirit of current singe-point querying method, the polyline querying method should probably accept the array of primitive doubles, which would contain a consecutive pairs of latitude and longitude, like `{latitude1, longitude1, latitude2, longitude2, ..., latitudeN, longitudeN}`.

But how the retur

[2018-12-11 14:12] juarezr commented on #17
I will test the new version for getting the improvements.
Thanks for the hard work.

[2018-12-11 14:13] juarezr commented on #16
I will check with the new version.
Thanks.

[2018-12-11 14:39] juarezr opened #28 "Initialize library filtering by Continent/Country"
In timeshape today, there are two methods for initializing the library

- with the data for the whole world
- with some bounding box only, to reduce memory usage

It would be interesting to have a third option for initializing with the data of a continent or a country because the main scopes of use are political following the patterns:

- whole world (international usage)
- my country (USA, Brazil

[2018-12-12 15:01] RomanIakovlev commented on #28
I was thinking about something similar as well. These cases, while sounding somewhat similar, have quite different implementation complexity, so let's take them one by one:
1. Initialize for a given continent/region, like Europe, Asia, etc. This could be done relatively easily, if we could use prefix from the time zone id. E.g. given prefix Europe, time zones like `Europe/Berlin` or `Europe/Stockh

[2018-12-14 02:43] juarezr commented on #17
It worked fine. 👍
Wondering if replacing Protobuff with [Capn'Proto](https://capnproto.org) can give any performance while querying and if the performace/memory tradeoffs worths.

[2018-12-14 10:04] RomanIakovlev opened #29 "Investigate using Cap'n Proto instead of protobuf"
There might be some performance gains to be obtained from this. See https://capnproto.org/.

[2018-12-14 10:05] RomanIakovlev commented on #17
Interesting regarding Cap'n Proto, I've created https://github.com/RomanIakovlev/timeshape/issues/29 to track this.

[2018-12-14 12:53] juarezr commented on #29
Perhaps it would be possible to squeeze some performance, mainly while querying:

- On disk compression should'nt change due to the use of ZStandard to compress the files.
- Query/processing performance should be better due to Cap'n Proto random inplace access with no decoding.
- Memory usage should be higher due to Cap'n Proto using more bytes than Protobuff for same data. Maybe this trade-off is

[2018-12-20 03:43] ben-manes opened #30 "Mention zstd-jni dependency"
It wasn't obvious to me what was causing this failure at first,
[code]

I eventually realized it was due to `zstd-jni` not resolving to a platform-specific dependency. Gradle will not resolve this classifier for you, so I added the following to my build to fix the issue:

[code]
where `env.os` was already defined as
[code]

[2018-12-20 04:05] ben-manes commented on #28
Instead of limiting, could you provide a lazy loading by splitting into region-specific indexes? As in, if you know the bounding box for a region then you can query determine which `Index` to delegate to. Then only the sub-indexes being used would be in-memory, reducing the footprint for development and localized application.

[2018-12-21 12:38] RomanIakovlev commented on #30
Hi, thanks for reporting this! I'm not sure why Gradle behaves in such a way, but I'll try to reproduce it with build system other than sbt and see if it works.

[2018-12-21 13:09] RomanIakovlev commented on #28
@ben-manes right, I've been thinking about implementing some sort of lazy loading as well. I'm not sure what's the best way to implement this, but I think it might be a useful addition to the Timeshape, since, although the lazy loading will always incur some sort of performance penalty, for some use cases it might be negligible. Lazy loading might even be preferable, if initialization time will be

[2018-12-21 15:28] RomanIakovlev opened #31 "Consider adding lazy initialization to TimeZoneEngine"
For certain use cases, like querying a single or little amount of points, it might make sense to skip the full initialization of the TimeZoneEngine. It might not be possible to limit the initialization (e.g. via bounding box or any other means developed in the future), because the points might be from unpredictable locations. For example, for code running in some FaaS (Function as a Service) envir

[2018-12-22 01:53] juarezr commented on #31
New storage format?
Maybe indexing the shapes using S3/H3 and storing the Cell Ids in a database/index/quadtree?

https://blog.zen.ly/geospatial-indexing-on-hilbert-curves-2379b929addc

https://medium.com/sidewalk-talk/s2-cells-and-space-filling-curves-keys-to-building-better-digital-map-tools-for-cities-a312aa5e2f59

https://uber.github.io/h3/#/

http://s2geometry.io/

[2018-12-22 01:55] juarezr commented on #28
What should be the impact on size/performance when the shapes are simplified?
There are any numbers on this?

[2018-12-26 20:47] dustin-johnson commented on #26
I have taken the approach in [TimeZoneMap](https://github.com/dustin-johnson/timezonemap) of returning a TimeZone object in response to a location query. This object has a method to query the minimum distance from a location that could be traveled to exit the time zone.

By the way, I very much appreciate Timeshape. It heavily influenced the design of TimeZoneMap, and I'd be interested in any feed

[2018-12-26 20:49] dustin-johnson commented on #27
The new library [TimeZoneMap](https://github.com/dustin-johnson/timezonemap) supports this by adding a new method that returns a list. I opted not to use a QuadTree for searching the time zone regions, as I found it not all that much faster than simple looping through the regions.

[2018-12-28 11:05] RomanIakovlev commented on #26
Hi @dustin-johnson, thanks for your kind feedback! I appreciate the fact that Timeshape was an inspiration for someone. I've checked out your library. Looks like the main difference from Timeshape is the following (but please correct me if I'm wrong, since I might have missed something):

1. You don't require `java.time.*` and `java.util.Optional`, to make your library run on Android.
2. You retur

[2019-01-05 15:35] WingGithub commented on #2
I'm seeing this issue on 2018d.6
 Causing: java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: com/google/protobuf/GeneratedMessageV3
! at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:131)
! at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:116)

I have no idea why it happening in my project but it went away when I manually included the pro

[2019-01-07 23:35] dustin-johnson commented on #26
Hi @RomanIakovlev, so sorry for the delayed response. I'm certainly open to the idea of merging the projects. While the code is quite different, the overall structure and concept is very heavily inspired from your work, and so it makes sense to marge this project with its origins.

I'm currently tweaking and exploring quite a bit with the design and features, so I wonder if it makes sense to talk

[2019-01-09 15:49] RomanIakovlev commented on #2
Ok, it's definitely a different root cause, but I'll reopen the issue to keep track of this.

[2019-01-09 16:11] WingGithub commented on #2
Could it be my project has a transitive dependency on an older version of protobuf and if TimeZoneEngine depends on a newer version but does not specify that version, maven does not resolve the dependency correctly? Just a wild ass guess.

[2019-01-10 13:12] juarezr commented on #26
Maybe timeshape could be split in three libraries:
1. base library with unstable API not meant for being used in applications.
2. low dependency/impedance wrapper library with current API with high stability garanties using *1* as implementation
3. specialized wrapper library with polygon library dependency with low stability garanties using *1* as implementation

In this scheme releases of *2* an

[2019-01-10 13:39] juarezr commented on #29
Adding [flatbuffers](https://google.github.io/flatbuffers/) as candidate for comparison.
The serialization libraries tend to go in two opposite directions:

1. Space efficient:
  1.1. The data is encoded and compressed/coded while storing and for accessing a decode step is needed.
  1.2. There is no random access to data/fields.
  1.3. Encoded size is lower as well network/disk/memory size  but re

[2019-01-16 16:49] Rookiee111 commented on #2
I am also facing a similar issue, use version 6
java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: net/iakovlev/timeshape/proto/Geojson$Feature
  at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:131)
  at net.iakovlev.timeshape.TimeZoneEngine.initialize(TimeZoneEngine.java:116)
  ... 54 elided
Caused by: java.lang.NoClassDefFoundError: net/iakovlev/timeshape/pro

[2019-01-18 16:00] RomanIakovlev commented on #2
@WingGithub that indeed looks like a binary incompatibility between different protobuf versions. Could you please tell which one do you use in your project?
@Rookiee111 could you please share more details about how your project is setup? Is it Android or Oracle/OpenJDK? Which build system are you using? Could you share a reproducible example, a project setup and code where this error happens?

[2019-01-25 09:15] WingGithub commented on #2
@RomanIakovlev I think I finally found it: protobuf-java:2.6.1

[2019-01-25 09:33] Rookiee111 commented on #2
@romanlakovlev sorry for the delay in responding back .  I was able to figure it out, it was dependency issue which causing this .. I am integrating this with spark, however I had to use another approach as with timeshape the performance is very slow .. but thanks for responding back.. have a good day

[2019-01-25 09:33] Rookiee111 commented on #2
@romanlakovlev sorry for the delay in responding back .  I was able to figure it out, it was dependency issue which causing this .. I am integrating this with spark, however I had to use another approach as with timeshape the performance is very slow .. but thanks for responding back.. have a good day

[2019-02-19 18:35] juarezr commented on #27
There is any plan for making regular releases that just update to the [latest OSM data](https://github.com/evansiroky/timezone-boundary-builder/releases/tag/2018i) versus releases with enhancemnts?

[2019-02-19 19:17] juarezr commented on #26
Followup to my [comment](https://github.com/RomanIakovlev/timeshape/issues/31#issuecomment-449536694) on issue #31:
- The [H3 geospatial indexing system](https://uber.github.io/h3/#/documentation/overview/use-cases) could be used for improving the query performance of OSM shapes.
- For building this one must change the hierarchical representation of shapes in a quadtree by a database indexes by 64

[2019-02-20 18:37] RomanIakovlev commented on #27
I've been really busy with my life recently, and this busy period is still ongoing, so that I can't really promise any concrete date for future releases. But maybe you can step in and send a pull request which updates to the latest version of OSM data? I'll prepare a release then.

[2019-03-18 16:44] brunocl opened #32 "Please update to database 2018i"
Hello,

I am interested to get the new updates available in latest releases of
https://github.com/evansiroky/timezone-boundary-builder/releases

It shows that latest version is 2018i.
Could you please update TimeShape library with the latest release?

[2019-03-18 16:55] RomanIakovlev commented on #32
Hi, I can’t promise any timeline here, but I’d definitely be glad to accept a pull request that updates to the recent data version and validates it’s working fine. I’ll cut a release from it, but otherwise my availability is rather limited.

[2019-04-29 12:03] usmanbinliaqat opened #33 "Wrong timezone for coordinates (22.505366, 113.953647)"
This project gives wrong timezone for the coordinates (22.505366, 113.953647) which actually lie in China. But the project provides in it Hong Kong.

[2019-04-29 15:22] #33 closed

[2019-08-16 18:12] crowmagnumb opened #34 "Please upgrade protobuf"
Version 3.4.0 of protobuf used here gives the following warnings in java 9 and greater...

[code]

which I believe is addressed in later versions of protobuf. Cheers.

[2019-08-16 18:59] RomanIakovlev commented on #34
Thanks for letting me know, I’ll keep this in mind for the next release.

[2019-09-19 19:40] mipastgt opened #35 "timeshape not usable with Java module system"
If you add

    <dependency>
        <groupId>net.iakovlev</groupId>
        <artifactId>timeshape</artifactId>
        <version>2018d.6</version>
    </dependency>

to a project where the library ends up on the java module path (in contrast to the classpath) you will get the following error:

    Error occurred during initialization of boot layer
    java.lang.module.FindException: Unable to deri

[2019-09-19 21:12] RomanIakovlev commented on #35
Very interesting finding, thanks for reporting it. I’ll consider different versioning scheme if current one is incompatible with JPMS.

[2019-09-23 10:10] mipastgt commented on #35
You could also fix this for the time being by just adding this line

    Automatic-Module-Name=net.iakovlev.timeshape

to your manifest file inside the jar. This defines an explicit module name so that it does not have to be derived from the jar file name anymore.

[2019-10-18 22:19] RomanIakovlev commented on #35
I think this issue must be fixed in release 2019b.7, which has just been published. Could you please give it a try and let me know if it works for you now? I have applied the fix you've suggested, including the `Automatic-Module-Name` to manifest file.

[2019-10-18 22:20] RomanIakovlev commented on #34
I think this issue must be fixed in release 2019b.7, which has just been published. Could you please give it a try and let me know if it works for you now? I have upgraded protobuf version to 3.10.0, which should have this problem fixed.

[2019-10-18 22:22] RomanIakovlev commented on #32
Just wanted to let you know I have published the releave 2019b.7 just now, which has the latest available time zone data. Give it a try, and feel free to close the issue if it's not relevant anymore. I have skipped several releases, including 2018i, but it's obsolete now anyway.

[2019-10-18 22:24] RomanIakovlev commented on #27
Closing this, because release 2019b.7, which has just been published, has support for querying multiple time zones for single geo point.

[2019-10-18 22:24] #27 closed

[2019-10-18 22:26] RomanIakovlev commented on #20
Closing as I've found a way to work with separate publishing schedules in same build. Setting geojson-proto version to SNAPSHOT removes the issue, and I think it's a good compromise overall.

[2019-10-18 22:26] #20 closed

[2019-10-19 08:44] mipastgt commented on #35
It works for me now. Thanks a lot. One more stumbling stone removed on my way to modularize my application.

[2019-10-19 08:47] RomanIakovlev commented on #35
Great, thanks for confirmation. Out of curiosity, could you please let me know for what kind of application do you use Timeshape? I'm really interested to learn how people use this library, it gives me motivation to work further on it.

[2019-10-19 18:49] mipastgt commented on #35
I use it in a flight planning software to decode the scheduling of NOTAMs.

[2019-10-19 21:03] juarezr commented on #32
Thanks for the release.

[2019-10-19 21:27] juarezr commented on #35
We use timeshape for calculating local time in trips traveled by cars with a custom IOT sensor/tracker/GPS installed.

Timeshape is a important piece that translate the time in sensor clock ( UTC ) to local time using the GPS coordinates sent by the sensor.

Every day we process all travelled distance/time from 400k cars (expected 1.5M next year) using [Apache Spark](https://spark.apache.org/) run

[2019-10-21 21:44] RomanIakovlev commented on #35
Thanks for sharing! If you want to, you can list your organizations or projects in the README file of Timeshape (I've just added a placeholder in latest commit https://github.com/RomanIakovlev/timeshape/commit/a2b04c8dc352096baba4bc2fe3e9ce3a0cbedc70). It would be a win-win: I'd appreciate it and your project or company get a little bit more of visibility.

[2019-10-21 22:27] juarezr opened #43 "timeshape release 2019b.7 freezes on initialize on AWS EMR"
After upgrading to release 2019d.7 the initialization of timeshape started to freeze:

- Version 2018d.6 worked fine
- The only change was the the timeshape upgrade
- On local machine it works, but when deployed to AWS EMR it freezes.

Tentative 1:
[code]

With results in:
[code]

Tentative 1:
[code]

With results in:
[code]

Any supposition for finding the problem?

[2019-10-21 22:29] juarezr commented on #43
Maybe a upgraded protobuf?

[code]

[2019-10-22 15:59] RomanIakovlev commented on #43
Looks strange, I'm not sure what could be the reason for such behavior. If you think it's about protobuf version, you can override protobuf dependency in your `build.sbt` to point it to previous value:
`dependencyOverrides += "com.google.protobuf" % "protobuf-java" % "3.5.0"`.
I'm not that familiar with AWS EMR, but if there's a way to clean and rebuild everything, I'd try that as well.

[2019-10-22 16:00] RomanIakovlev commented on #35
Anyway, closing this issue now, as the original problem is fixed.

[2019-10-22 16:00] #35 closed

[2019-10-22 21:48] crowmagnumb commented on #34
That seemed to do it. Thank you!

[2019-10-23 06:03] RomanIakovlev commented on #34
Thanks for confirmation! Closing the issue now.

[2019-10-23 06:03] #34 closed

[2019-10-27 09:04] RomanIakovlev commented on #2
This issue has been open for a while without much activity. Recent release of Timeshape has upgraded protobuf-java to 3.10.0, and probably older problems are not relevant anymore. If something similar to this again comes up, please open another issue.

[2019-10-27 09:04] #2 closed

[2019-10-27 14:57] RomanIakovlev commented on #30
I've finally come around to check what's going on with this issue, and it seems I cannot reproduce it. I've created a new Gradle project (using Gradle 5.2.1), so that my `build.gradle.kts` file looks like this:
[code]
And then in the main method I initialize Timeshape and make a call to it:
[code]
I ran it on Windows and Linux (WSL, Ubuntu Xenial), and it works in both cases. I see you have done i

[2019-10-27 18:32] ben-manes commented on #30
Sorry, but I haven't thought much about this in almost a year. Going back to that commit, it seems that I was on Gradle 5.0. Can you check against that version to see if maybe Gradle added support as it seemed to be their issue?

When I run `./gradlew dependencies` with and without my added dependency, the output looks identical.

Removing the addition and running the server, it seems to work nice

[2019-10-27 19:06] RomanIakovlev commented on #30
Thanks a lot for your quick reply! I've tested on Gradle 5.0 as well, and it also worked with my simple example. Maybe some Heisenbug? Anyway, closing this issue now, and, if this happens again, please feel free to open another one.

[2019-10-27 19:06] #30 closed

[2019-10-27 19:06] #32 closed

[2019-11-22 14:13] tmnd1991 opened #44 "Allow load of external geo data"
# Scenario

As of now the geo data is shipped with timeshape and that makes the library very desirable since it has no setup needed neither extra dependencies.

# Problem statement

What is a pro for some is a cons for others. Having to update a dependency in a project might not be the easiest way to adapt to timezone changes. The same file that is provided inside the library might be loaded exter

[2019-11-23 11:30] RomanIakovlev commented on #44
Hi, it is a fair assessment of status quo, and I've been thinking about changing this for some time already. And a big thanks for your PR! I really appreciate you took time to come up with it.

I had a bit of different approach in mind regarding decoupling Timeshape's data from code, but until I come to implement it, I see no reason why we can't use your suggested approach. I'll look deeper into y

[2019-12-01 21:13] RomanIakovlev commented on #43
@juarezr how is it going with this problem? Do you still experience it, or is it gone?

[2019-12-11 19:29] juarezr commented on #43
@RomanIakovlev
I fixed the build at the 2018d.6 version and now I'm searching for the conflict again.
Let's see if I will find the bug this time.

Thanks

[2019-12-11 22:16] juarezr commented on #43
I've got some information about the locks freezing the execution in library.
First is the list of active threads and locks:

[code]

And then the dump of locked threads 86 and 87:
[code]

[2019-12-12 14:18] juarezr commented on #43
Wrapping the initialization in a syncronized block did'nt wok also:
[code]
The first thread was stuck forever in the same function:  **java.util.zip.Inflater.inflate(Inflater.java:259)** .
Other threads were waiting the first on the syncronized Object:
[code]
Here the stack dump from the first thread:
[code]
Here the stack trace of other threads:
[code]

Now I am researching for what changed in co

[2019-12-12 21:47] RomanIakovlev commented on #43
Very interesting findings, thanks for sharing! There were changes in initialization code, but they look superficial to me. Particularly, the compression code stayed the same, I didn't change the dependency version.

Some web search shows similar issues: hanging thread on java.util.zip.Inflater.inflateBytes(Native Method). E.g. https://support.oracle.com/knowledge/Middleware/1416007_1.html or https

[2019-12-12 21:53] RomanIakovlev commented on #43
Hmm, looks like I can't use Travis to build with OracleJDK 8 anymore, minimum version 9 is required. Here's the failed build: https://travis-ci.com/RomanIakovlev/timeshape/builds/140869863. I'll build and publish SNAPSHOT on my computer then.

[2019-12-12 23:09] RomanIakovlev commented on #43
All right, after struggling with my local Java environment, I've finally published 2019b.8-SNAPSHOT built with OracleJDK 8. I'd appreciate if you give it a try and let me know if it changes anything on your side.

[2019-12-13 00:16] juarezr commented on #43
@RomanIakovlev

Oh! I will try tomorrow morning, too late now! :) The processing many minutes to reach the time conversion code.

I think your web search and your best guess have a good chance of being correct. I should have done this before.

I refactored out an `IndexBuilder` class from `TimeZoneEngine` and `Index`. My suspect was that the problem is something in the Stream code. Maybe it could

[2019-12-13 15:20] juarezr commented on #43
Unfortunately the fix did'nt worked.

The simptons are the same as before:
[code]

The stack dump from first thread was:
[code]

The log from application stops in the `TimeZoneEngine.initialize`:
[code]

The jar dependencies are:
[code]

Further investigating it yet.

[2019-12-13 20:19] juarezr commented on #43
I was narrowing the possibilities for the timeshape freezing and found some interesting points:

1. I refactored the timeshape code using Stream to normal loops and tested again without success.
2. I built timeshape again with timezone boundary data version 2018d and **it worked**.
3. Some tests failed with version 2018d mainly:
   a. TimeZoneEngineOutfileBoundedTest.testWorld - but it failed with

[2019-12-16 14:36] juarezr commented on #43
Reducing the scope of the bug, I replaced the wrapper class `ZstdCompressorInputStream` from `common-compress` by the dependency class `ZstdInputStream`

As both implements InputStream the code worked fine in testing. Maybe it could be a little faster, but I did'nt measure it.

[code]

The code is in my fork branch [builder](https://github.com/juarezr/timeshape/tree/builder) at github.

Again the

[2019-12-16 15:21] juarezr commented on #43
Upgraded `timeshape` dependencies:

[code]

Still hanging on the same methods on Thread Dump.
At least the compression/decompression should be faster due to ZStandard lib improvements.

[2019-12-16 21:30] juarezr commented on #43
Finally found the fix for #43! However I still haven't found what the cause is!

I found a fix while investigating the standardalone tar library [JTar](https://github.com/kamranzafar/jtar).
The fix was wrapping a `BufferedInputStream` on the `ZstdInputStream`:
[code]
The code is in my fork branch [builder](https://github.com/juarezr/timeshape/tree/builder) at github.

Any chance of getting somenth

[2019-12-16 21:38] RomanIakovlev commented on #43
Great you found a fix! I've quickly skimmed through your branch, and it seems it contains more changes than just the fix you mention above. If you want a quick release with new data, it would be better to submit a pull request with the minimal fix (the code from your last comment), without the rest of the changes.
If you want more changes than that, I'll have to review them, and it will take longe

[2019-12-16 22:21] juarezr commented on #43
I agree with you!

1. I've put the fix in [a new branch ](https://github.com/juarezr/timeshape/tree/fix_zstd_only)
    a. This code is tested only on my local computer.
    b. Tomorrow I'll test in a EMR cluster for checking if it works.
    c. Now I'm testing the version of [my refactored branch](https://github.com/juarezr/timeshape/tree/builder) for performance evaluation.
2. I see no problem in

[2019-12-16 22:30] juarezr commented on #43
Testing the version of my [refactored branch] finished reducing from 23 to 20min on 11009414 calls for timezone resolution.
However I can't argue that the new version is the reason for better performance.

[2019-12-17 09:49] tariver opened #47 "Asia/Qostanay time zone is missing"
Asia/Qostanay time zone was added in [2018h](https://mm.icann.org/pipermail/tz-announce/2018-December/000053.html), but not in the list of timezones received by this function
[code]

Also when queried with coordinates of Qostanay the following function returns an empty list
[code]

[2019-12-17 15:44] juarezr commented on #43
With the fix from [my branch](https://github.com/juarezr/timeshape/tree/fix_zstd_only) the bug is gone!

I think you are safe for issuing a new release.

Thanks again for the support.

[2019-12-17 20:31] RomanIakovlev commented on #47
Asia/Qostanay is included into Timeshape starting from version 2019b.7, but you need an up-to-date version of JRE to be able to use it, since Timeshape works with instances of `java.time.ZoneId`, and those are defined by JRE. Based on my quick analysis, it seems Asia/Qostanay is first included in following JREs: 12.0.2, 11.0.4, 8u221, 7u231. If you use anything older than that, Timeshape will log

[2019-12-17 21:04] RomanIakovlev commented on #43
(closed by mistake)
I've merged your fix and released Timeshape 2019b.8. It's currently on its way to Maven Central (it usually takes several hours). Please give it a try and let me know how it goes. If all is good, please close the issue.

[2019-12-17 21:12] RomanIakovlev commented on #44
Just wanted to let you know your change was released in Timeshape version 2019b.8 (it's currently on its way to Maven Central). Please have a look at it and feel free to close the issue if it works for you.

[2019-12-17 22:16] tmnd1991 commented on #44
Thank you very much, I'll try out the new version and come back at you!

[2019-12-17 22:16] #44 closed

[2019-12-18 08:45] tariver commented on #47
ОК, thanks for the clarifying, I thought you used "in-house" list.

You don't need to update the whole JRE, just the tzdata of it using [Oracle's utility "Timezone Updater Tool"](https://www.oracle.com/technetwork/java/javase/tzupdater-readme-136440.html).

Just for the purpose if someone else google this up, a quick guide
[Download](https://www.oracle.com/technetwork/java/javase/downloads/tzupdat

[2019-12-18 09:05] RomanIakovlev commented on #47
Great you mentioned the timezone updater tool, I have totally forgotten about it, and good to know everything works for you now.
On an unrelated note, I'm really interested in how different people and companies use Timeshape. Could you please share a bit, what's your use case? Do you use it for some analytics, GPS tracks processing, or something else?

[2019-12-19 21:27] tariver commented on #47
We use it in our in-house application that deploys (clones) the system that we develop. Since it's a GIS system, the deploying applications needs to know at which area it will be focused and the timezone there. So a user on a map chooses a zone which the deployed system will cover and the deploying application determines which timezone will be used based on the center of the area selected by user.

[2019-12-21 20:18] RomanIakovlev commented on #47
Cool, thanks for sharing! It would be nice if you could add your company to the readme (https://github.com/RomanIakovlev/timeshape#adopters). I know there are quite a bit of companies out there using Timeshape (judging by the number of downloads from Maven Central), and it would be fair to have this reflected on the main page.

(Of course, only if you feel comfortable doing so. But if it's possibl

[2019-12-21 20:24] RomanIakovlev opened #50 "Collaboration with TimeZoneMap"
See conversation in https://github.com/RomanIakovlev/timeshape/issues/26 for the context.

[2019-12-21 20:25] RomanIakovlev commented on #26
Moving discussion about Timeshape & TimeZoneMap collaboration to https://github.com/RomanIakovlev/timeshape/issues/50, closing this as it's about polyline query, which is released.

[2019-12-21 20:25] #26 closed

[2019-12-27 16:07] juarezr commented on #43
fixed and working.
Thanks a lot!

[2019-12-27 16:07] #43 closed

[2020-02-20 09:26] gtludwig opened #51 "remove [DEBUG] messages when starting up timeshape"
Hi all,

I am using timeshape v2019b.8 in my spring-boot application and would like to remove the [DEBUG] messages it spews to the console to signal initialization of the library - which works great, by the way.
I have tried to set a different logging level in application.yml to no success with the following entry:
[code]
How can I do so?

[2020-02-21 19:43] RomanIakovlev commented on #51
Hi and thanks for your feedback, I appreciate you find Timeshape useful. Unfortunately, I don't know how to configure logging in spring-boot applications.

What I do know is that current mechanism of changing the log level for Timeshape actually works, at least when Logback is used for logging. The test-app project in this build uses logging, and you can see how it's configured here: https://githu

[2020-03-11 12:58] PaulDaviesC opened #52 "Empty ZoneId"
Can there be a case where the ZoneId is returned empty by engine.query() for a valid latitude and longitude?

[2020-03-11 15:08] RomanIakovlev commented on #52
In general, yes. When the library is initialized with a bounding box smaller than the whole world, all the valid coordinates outside of that bounding box will return the empty answer. When the library is initialized without specifying the bounding box (i.e. for the whole world), it might return the empty answer for some valid coordinates if and only if the source data (see https://github.com/evans

[2020-03-11 15:16] #52 closed

[2020-03-11 15:17] PaulDaviesC commented on #52
Thanks @RomanIakovlev

[2020-03-20 13:19] jnickels opened #53 "Initialize with TarArchiveInputStream"
Hi @RomanIakovlev,
I really like your project! Thanks for the great work!
Since a couple of hours I try to initialize your TimeZoneEngine with data generated by your builder module. The builder module works just fine. At least the output is a ~20MB file (input was timezones-with-oceans.geojson.zip 2019b). But when I try to initialize TimeZoneEngine with TarArchiveInputStream(FileInputStream("file.

[2020-03-23 20:50] RomanIakovlev commented on #53
Hi @jnickels, and thanks for your kind words! I appreciate you enjoy using Timeshape, and, as a side note, I would love to hear what kind of application/service you build with it.

Regarding your problem, it's quite difficult to pinpoint what's going on. I presume you're calling this function: `public static TimeZoneEngine initialize(TarArchiveInputStream f)`. One possible thing would be that you

[2020-04-03 17:59] DWvanGeest opened #54 "Version 2019b.8 depends on geojson-proto 1.1.1-SNAPSHOT, which is not on Maven"
https://search.maven.org/artifact/net.iakovlev/timeshape/2019b.8/jar shows a dependency on geojson-proto 1.1.1-SNAPSHOT, which is not found here: https://search.maven.org/artifact/net.iakovlev/geojson-proto

[2020-04-10 09:42] RomanIakovlev commented on #54
I have published new version of Timeshape that fixes this problem. The version number is 2019b.9, and it's already synced to Maven Central, give it a try! And thanks again for reporting this.

[2020-04-15 16:52] DWvanGeest commented on #54
Yep it's fixed! Thanks for the quick response.

[2020-04-15 16:52] #54 closed

[2020-04-29 18:55] mipastgt opened #56 "2020a"
Hi, I just wanted to make you aware of the fact that version 2020a of the data has been released :-)

[2020-04-29 19:49] RomanIakovlev commented on #56
Hi, thanks for the heads-up! The PR build is running as I'm typing this, the release will be in Maven Central by tomorrow (if Maven Central gods are favorably disposed today).

[2020-04-29 19:50] #56 closed

[2020-04-29 20:01] #47 closed

[2020-04-29 20:06] RomanIakovlev commented on #51
Hey @gtludwig, were you able to fix the logging? I'd like to help you with this, but if there isn't anything that must be done in Timeshape, I'd rather close this issue.

[2020-04-29 20:08] RomanIakovlev commented on #53
Hi @jnickels, were you able to solve this problem? I'm curious if there's anything in Timeshape that doesn't play well with initializing from file, but if there's nothing to fix here, I'd rather close this issue.

[2020-04-30 07:52] mipastgt commented on #56
Thanks

[2020-06-29 23:16] WingGithub opened #58 "Making "Some of the zone ids were not recognized by the Java runtime" messages WARNings instead of ERROR."
Since it not actually an error and is ignored anyways could this message be made a warning instead. Errors are emailed to me in our software and I would prefer not to get email messages everytime it runs.. I could filter out net.iakovlev.timeshape.Index but that would hide any real error messages that could show up.

[2020-06-30 08:02] RomanIakovlev commented on #58
I think there was at least one request in the past to log this information at ERROR level, so I can't just switch it to WARN, because it will break the existing contract. How about having it configurable when initializing the `TimeZoneEngine`? I was about rewriting all the overloads of `initialize` method using the builder pattern anyway, and adding one more parameter into that builder will be no

[2020-06-30 08:09] WingGithub commented on #58
Sound good to me. Thanks.

[2020-06-30 08:14] RomanIakovlev commented on #58
All right then. Just FYI, I think it's a good first issue for someone who's interested in making it happen, like yourself. :) I'd be happy to provide guidance if needed, review and release when done.

[2020-07-02 00:26] WingGithub commented on #58
International geopolitics is less important to our code than all the other stuff that needs to get done so I'll be going back to 2018d.6 for now unless you tell me there's some amazing performance improvements in query lookups since 2018d.6 ;>.

[2020-07-02 14:28] RomanIakovlev commented on #58
There was actually a performance improvement since 2018d.6, particularly, the support for querying polylines was added since then. It makes it much more fast to run queries on lots of contiguous points. Also the initialization performance should improve due to newer version of Zstandard, although I have no hard numbers to back this up.

[2020-07-11 17:56] RomanIakovlev opened #59 "Improve configurability of TimeZoneEngine class"
Currently the `net.iakovlev.timeshape.TimeZoneEngine` class is initialized using a bunch of overrides of `initialize` methods. This was fine in the beginning, but now there are already 5 overrides and more is needed (including but not limiting the #58). It's clearly time to introduce a different approach.

My current preference is to use some sort of `TimeZoneEngineConfig` class for this. This cla

[2020-07-11 18:15] RomanIakovlev opened #60 "sbt -> maven migration"
As much as I like sbt for its flexibility and rich feature set, it still doesn't enjoy the first class support in the Java world. Particularly, in the context of #59 , I'd like to use automatic generators of `Builder`-like classes, such as Auto-matter or Immutables. I've tried setting them up with sbt+Intellij, and couldn't make it work.

At the same time, I've used a lot of Maven recently in diff

[2020-07-15 16:08] juarezr commented on #60
Maybe [Gradle](https://gradle.org/) could result in a easier transition?

Pros:

- Better support in IDE like Intellij...
- Uses [Maven Central](https://search.maven.org/) for solving depedencies...
- Build file is a scripts like `sbt`. A `task` is a [Groovy clojure](https://groovy-lang.org/closures.html).
- Easy to write a custom task for checking/downloading source data

[2020-07-15 16:32] RomanIakovlev commented on #60
Thanks for the suggestion, I thought about Gradle as well. The problem with Gradle is that I'm not really familiar with it, whereas Maven is something I use daily. It will probably take more time for me to get up to speed with Gradle than switching to Maven.

If someone else will come up with a PR switching the build to Gradle and see if it does everything sbt does now (including making the releas

[2020-07-21 09:33] marcoberri opened #61 "best way to using timeshape in spring boot"
Hi, we are using the library in the spring boot environment by configuring beans to share it on multiple controllers.

SpringConfig.java
`
@Bean
    @Scope(value = ConfigurableBeanFactory.SCOPE_SINGLETON)
    public TimeZoneEngine timeZoneEngine() {
        System.out.println("****************** START timeZoneEngine");
        if(this.timeZoneEngine == null)
            this.timeZoneEngine = TimeZ

[2020-07-21 09:48] marcoberri commented on #61
sorry it was my mistake

[2020-07-21 09:48] #61 closed

[2020-08-19 06:58] mikism opened #63 "Index.queryPolyline does not return last empty SameZoneSpan"
Index.queryPolyline() does not account for the case, when one or more points in the end of given polyline are not part of any time zone in the index.
Example of this behavior: `TimeZoneEngine.initialize().queryPolyline(new double[]{54.89, 23.91, 80, 180})` returns a list with only one element:
`new SameZoneSpan(new HashSet<>(Collections.singletonList(ZoneId.of("Europe/Vilnius"))), 1)`.
I would exp

[2020-08-19 07:48] RomanIakovlev commented on #63
Hello and thanks for your contribution! I need to have a deeper look at it before merging, but on the surface it seems fine.

[2020-10-13 07:07] skanagavelu opened #69 "Zone Id is different from https://developers.google.com/maps/documentation/timezone/get-api-key"
When i try co-ordinates with lat/lang of 51.95874/85.95926; i get zone id: "Asia/Barnaul"
where as when i test with google api, i get zone id "Asia/Krasnoyarsk".
https://maps.googleapis.com/maps/api/timezone/json?location=51.95874,85.95926&timestamp=1602572121&key=XXXX

Which one is correct?

[2020-10-13 08:03] RomanIakovlev commented on #69
This problem looks like a recent change in these time zone coverage. As you probably know, Timeshape's data is taken from the https://github.com/evansiroky/timezone-boundary-builder/releases, which itself is derived from the OpenStreetMap. When I look at OpenStreetMap and query the Asia/Krasnoyarsk time zone, I get the result that largely agrees to google maps api: https://www.openstreetmap.org/re

[2020-10-13 11:59] skanagavelu commented on #69
Great! Thank you! @RomanIakovlev.

[2020-10-14 07:44] evansiroky commented on #69
Hello, as I noted in https://github.com/evansiroky/timezone-boundary-builder/issues/88, I believe that the data produced in timezone-boundary-builder is correct.

While the data in timezone-boundary-builder is derived from OSM, it is not simply fetched using overpass turbo queries for relations with `timezone=*` tags. It is carefully curated from all kinds of OSM relations and ways. The zones ment

[2020-10-14 13:45] RomanIakovlev commented on #69
Indeed, after checking https://data.iana.org/time-zones/tzdb/NEWS for 2016b release, it seems the new zone id `Asia/Barnaul` was introduced to cover Altai Krai and Altai Republic. Please be aware both Asia/Barnaul and `Asia/Krasnoyarsk` are both +7 now (after the 2016 DST switch).
P.S. @evansiroky I didn't actually realize the depth of changes you have to make to OSM data! If I may ask, have you c

[2020-10-16 00:28] evansiroky commented on #69
@RomanIakovlev, one doesn't simply report errors to OSM and expect them to be fixed. Also, the method in which timezones are created in OSM is somewhat controversial because [the OSM wiki page about the timezone relation](https://wiki.openstreetmap.org/wiki/Key:timezone) notes that this is not a generally accepted thing to map as a standalone boundary which would make it difficult for a number of

[2020-10-16 07:00] RomanIakovlev commented on #69
Thanks @evansiroky for this info, it's very insightful, especially about the somewhat unofficial status of the standalone `timezone` relation in OSM. I guess there's a significant number of timezones not matching a single administrative boundary (or even a partition of multiple boundaries) – at least the oceans.

Just thinking out loud here: it seems the hybrid approach would work the best in this

[2020-10-16 18:07] evansiroky commented on #69
The hybrid approach you are describing already exists in OSM. I've created https://github.com/evansiroky/timezone-boundary-builder/issues/91 so doing a full analysis of OSM timezone relations is on the radar.

[2020-11-23 10:04] lpellegr opened #72 "Upgrade to timezone-boundary-builder 2020d"
Version 2020d of timezone-boundary-builder has been released a few weeks ago. It would be great to provide a new version of the library that makes use of this data.

[2020-12-08 14:29] mdespriee opened #73 "[question] what is accelerateGeometry in initialize() ?"
Is there any performance gain to expect ?
What's the impact on precision ?

[2020-12-08 15:07] RomanIakovlev commented on #73
Yes, it increases the speed of the answer to the 'point in polygon' question, at the expense of increased memory usage (by using a bitmap index). I don't have the actual figures on top of my head, but I remember the speedup was sufficient to introduce this parameter to the API, and the memory usage increase was rather moderate. There's no impact on precision whatsoever.

[2020-12-08 15:42] RomanIakovlev commented on #73
I think it's also worth mentioning that accelerating the geometry has some impact on the time it takes to initialize the `TimeZoneEngine`. Again, no exact figures on top of my head, but it probably adds another couple of seconds to initialization.

[2020-12-09 17:05] RomanIakovlev commented on #73
I'm going to try the new shiny GitHub Discussions, and use this issue/question as a guinea pig, hope you don't mind @mdespriee. This issue will be converted to a discussion, and could be found on the Discussions tab.

[2020-12-09 17:06] #73 closed

[2020-12-27 21:51] RomanIakovlev commented on #72
Timeshape version 2020d.11 is now on Maven Central.

[2020-12-27 21:51] #72 closed

[2020-12-27 21:52] #69 closed

[2020-12-27 21:56] RomanIakovlev commented on #53
This is probably solved by now, so I'll just go ahead and close this issue. Please feel free to open another one if you see this problem again.

[2020-12-27 21:56] #53 closed

[2020-12-27 21:57] RomanIakovlev commented on #51
This is probably solved by now, so I'll just go ahead and close this issue.

[2020-12-27 21:57] #51 closed

[2021-01-19 08:56] FDelporte opened #79 "DateTimeException when including version 2020d.11 in a Spring application"
Was doing some test with your library in an existing Spring application (Java 8) and suddenly the application didn't start anymore and threw this error:

[code]

I started commenting my code to check if the problem was caused by my implementation, but only after removing the dependency, the problem was fixed.

Turns out, **having the dependency in the project, is enough to cause this startup error

[2021-01-19 09:51] RomanIakovlev commented on #79
Hello, and thanks for reporting this. Here's some observations.

First, in the stack trace you've posted, there's no Timeshape frames present. Instead it fails in the `java.time.*`, triggered by Spring doing some of it's classpath magic.

Second, when I try to google this stack trace, this issue comes up: https://github.com/buildpacks/pack/issues/130. From reading about it, it seems others experie

[2021-01-19 10:03] RomanIakovlev commented on #79
Unfortunately, Travis CI has removed support for Oracle JDK version 8 (see the failed build in the #80). I'll try to come up with some alternative approach, but it will take some time. In the meanwhile, if you'll find a workaround for this problem, please post it here.

P.S. could you please let me know the exact Java version you're running?

[2021-01-19 10:15] FDelporte commented on #79
Thanks for the quick reply and detailed investigation!!
Was trying to run on openjdk version "1.8.0_275"
Regarding Travis: time to switch to GitHub Actions? ;-)

[2021-01-19 12:09] FDelporte commented on #79
BTW, confirmed 2020a.10 is OK!

[2021-01-20 14:03] RomanIakovlev commented on #79
After some further investigations, I believe the problem is not in the JDK version, but somewhere in Timeshape build. I've reproduced the very same issue locally (zero timestamps on `master` branch). When I checked out the older version of repository, which corresponds to `2020a.10` release, my local build has actually produced non-zero timestamps for JAR entries. So it seems something along the w

[2021-01-20 15:05] RomanIakovlev commented on #79
I think I managed to fix the problem, could you please try the latest SNAPSHOT?
[code]
(and you should have the Sonatype snapshots repo configured, as in e.g. https://stackoverflow.com/a/56145228)

[2021-06-23 15:15] basisbit commented on #79
Had the same problem as reported here in the issue, and it was fixed with the changes from PR 83. @RomanIakovlev any chance for getting a version release, so the Snapshot version is not needed as dependency with the addition of the snapshot repo? Thanks in advance!

[2021-06-28 17:00] RomanIakovlev commented on #79
Hi @basisbit, thanks for confirming the problem is fixed in the snapshot. I'll make a release with it, hopefully soon.

[2021-08-30 08:42] RomanIakovlev commented on #79
I have just made the release with the change discussed here, 2020d.12. Should be available on Maven Central in an hour or two.

[2021-09-01 12:40] basisbit commented on #79
@RomanIakovlev could you please also set the git tag and create the git release info here on GitHub? Thanks!

[2021-09-23 19:21] luciangruiaro opened #88 "zstd-jni-1.5.0-4 issue"
I tried upgrading to latest version and still getting this issue on CentOS.
It is working fine on Windows. Any idea please?

`Exception in thread "main" java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)

[2021-09-24 09:15] RomanIakovlev commented on #88
Hi, thanks for reporting this. Do you see this problem on older versions of Timeshape as well, or only on the latest one?

[2021-09-24 11:44] luciangruiaro commented on #88
Hey. Yes, I tried with 3 older versions and had the same issue.

[2021-10-06 20:03] mcculley opened #89 "Incorrect ZoneId"
I think I have a case where an incorrect ZoneId is returned, but I am not sure.

As a small example, I have two points just east of the Florida coast. One returns America/New_York and the other returns Etc/GMT+5. I am expecting that everything in that general area to return as GMT-4.

Here are examples of points and what they return for me:

[code]

Here is my test code:

[code]

I am thinking tha

[2021-11-18 17:31] rmathar commented on #89
For "international" waters near the Florida Coast (i.e. West of Greenwich) the time zones are Etc/GMT+x, not Etc/GMT-x, because time zone names are constructed compatible with the POSIX-format.

Some more places that are returned with Etc/ specs although they are on Land, not on sea:
(lines in the XEphem format, last number are altitutdes above sea level):

[code]

[2021-11-19 16:16] RomanIakovlev commented on #89
Thanks @rmathar for chiming in. Indeed the timezone designation in the oceans are somewhat confusing, and [many](https://github.com/evansiroky/timezone-boundary-builder/issues/100) [have](https://github.com/evansiroky/timezone-boundary-builder/issues/45) [tripped](https://github.com/evansiroky/timezone-boundary-builder/issues/38) [in the past](https://github.com/RomanIakovlev/timeshape/issues/4#is

[2021-11-21 12:05] rmathar commented on #89
From the point of view of this Timeshap code it seems, everything is correct. One may just advice people who are close to shorelines and don't like this to add escape clauses in their client programs which -- whenever they get a time zone ID which starts with Etc --  could start some sort of dithering pattern in wider circles of 100 or 200 miles away from their original point of interest and to ch

[2021-11-25 15:06] RomanIakovlev commented on #63
Closing the issue since it's fixed in #62 .

[2021-11-25 15:06] #63 closed

[2022-04-11 16:03] HelenParr opened #94 "The known vulnerability in the shared library zstd which timeshape-builder depends on.Can you help upgrade to patch versions?"
Hi, @RomanIakovlev , @juarezr , I'd like to report a vulnerability issue in **net.iakovlev:timeshape-builder:1.0**.
### Issue Description
I noticed that **net.iakovlev:timeshape-builder:1.0** directly depends on **com.github.luben:zstd-jni:v1.4.5-5** in the [pom](https://repo1.maven.org/maven2/net/iakovlev/timeshape-builder/1.0/timeshape-builder-1.0.pom). However, as shown in the following depende

[2022-04-21 07:40] RomanIakovlev commented on #94
Hi and thanks for your report. A PR with the dependency bump would be very much welcome, and I promise to make a quick release in turn. Also worth pointing out the severity here is rather mild, because the zstd in Timeshape only works with the pre-packaged, well-known data, not with some input an attacker can choose.

[2022-06-13 16:36] DonaldDuck313 opened #95 "UnsatisfiedLinkError in Android"
I'm trying to use this library in Android. To import it, I use this in build.gradle:

[code]

Then I use it in my Java code like this:

[code]

This compiles just fine, but it crashes at runtime with the following error:

[code]

[2022-06-14 07:15] RomanIakovlev commented on #95
Hi!

Thanks for reporting this. I've not tested Timeshape on Android, so I don't have an answer right off the bat. However, looking at the stack trace you've provided, it seems the problem is with the zstd-jni library.

Could you please try and follow the procedure to add zstd-jni on Android (described here: https://github.com/luben/zstd-jni#android-support) and see if it makes any difference?

[2022-07-05 08:39] zero0cool0 commented on #95
I had the same issue.

If it helps someone, simply adding
`implementation 'com.github.luben:zstd-jni:1.5.2-3@aar'`
to build.gradle as described in the above link led to duplicate class errors. Instead I used
[code]

[2022-07-05 10:00] RomanIakovlev commented on #95
Thanks for the detailed explanation! Would you mind adding it to readme? Seems really useful for people running Timeshape on Android.

[2022-11-10 18:00] x-wing opened #103 "Please upgrade com.google.protobuf » protobuf-java to address 2 vulnerabilities"
From the maven: https://mvnrepository.com/artifact/net.iakovlev/geojson-proto/1.1.0

Vulnerabilities from dependencies:
[CVE-2022-3171](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-3171)
[CVE-2021-22569](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22569)

See if we can update 3.10.0 to latest 3.21.9

[2022-11-17 08:30] RomanIakovlev commented on #103
Thanks for reporting this. Unfortunately my time is limited nowadays, so I can't do this myself. I can however help with making a release if you (or someone else) will prepare a PR.

[2022-11-22 15:32] RomanIakovlev commented on #103
Timeshape 2022f.15 with this change has been released and is now available from Maven Central: https://central.sonatype.dev/artifact/net.iakovlev/timeshape/2022f.15. The scanner didn't find any vulnerabilities in this release, so I'm going to close this issue as done. Thanks @x-wing for your contribution!

[2022-11-22 15:32] #103 closed

[2022-11-22 15:34] RomanIakovlev commented on #95
Closing based on lack of activity. Hopefully the instructions in readme now provide a clear path to run Timeshape on Android.

[2022-11-22 15:34] #95 closed

[2022-11-22 15:37] RomanIakovlev commented on #94
Closing as fixed, since the latest version of Timeshape (2022f.15 as of writing) uses a version of zstd without the mentioned vulnerability.

[2022-11-22 15:37] #94 closed

[2022-11-22 15:38] #89 closed

[2022-11-22 15:43] RomanIakovlev commented on #60
Closing due to lack of activity.

[2022-11-22 15:43] #60 closed

[2022-11-22 15:43] RomanIakovlev commented on #59
Closing due to lack of activity.

[2022-11-22 15:43] #59 closed

[2022-11-22 15:44] RomanIakovlev commented on #58
Closing due to lack of activity.

[2022-11-22 15:44] RomanIakovlev commented on #50
Closing due to lack of activity.

[2022-11-22 15:44] #50 closed

[2022-11-22 15:47] RomanIakovlev commented on #31
Closing due to lack of activity.

[2022-11-22 15:47] #31 closed

[2022-11-22 15:50] RomanIakovlev commented on #29
Closing due to lack of activity. I don't want to preclude any work on improving the performance of Timeshape, but I don't have a throughput to work on it (and didn't have since 2019, as is evident from the age of this issue). If someone is interested in picking this up, I'll be able to provide guidance and code review, as well as make releases, so contributions are welcome!

[2022-11-22 15:50] #29 closed

[2022-11-22 15:51] RomanIakovlev commented on #28
Closing due to lack of activity. If there's still interest in working on this, anyone should feel free to pick up this work, and I'll provide support with code reviews and releases.

[2022-11-22 15:51] #28 closed